/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* nav a {
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* .navbar {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid grey;
} */
/* .container-fluid {
    width: 100%;
} */
/* .logo {
    width: 40px;
    border-radius: 40px;
} */

/* body {
    background-color: #1A1A1A;
    color: white;
} */

/* Estilo Home */



/* .autos-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
} */


/* .item {
    text-align: center;
}
.item img {
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 250px;
} */

/* .item p {
    margin-top: 10px;
} */

ul li {
    display: inline;
    padding-left: 20px;
}

/* .servicios {
    border-top: 4px solid grey;
} */

.quienes-somos-main {
    width: 30cm;
    margin-left: 110px;
    margin-top: 10px;

}

.porsche {
    border-radius: 10px;
    margin-bottom: 10px;
}

.servicio, .muestra-autos, .entrega-llaves {
    margin: 10px;
    width: 200px;
}

/* fOOOTER */
/* .logos-redes {
    width: 40px;
    border-radius: 20px;
    padding: 5px;
}
#auto-nuevo {
    transition: transform 0.3s ease-out;
}
#auto-nuevo:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding-top: 30px;
}

.logos {
    padding: 15px;
}
.logos a {
    text-decoration: none;
} */

/* FIN FOOTER */
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Estilo Contacto */

/* .ul-contacto {
    list-style: none;
    padding: 0;
} */

/* .logo-contacto {
    text-align: center;
    font-size: 3em;
} */
/* textarea {
    resize: none;
} */
/* .logo.contacto .span-contacto {
    color: rgb(14, 135, 183);
} */

/* .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
} */

.contact-wrapper > * {
    padding: 1em;
}

/* .contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

/* .contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
} */

/* .contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: white;
    border-bottom: 1px solid rgb(14, 135, 183);
}

.contact-form form button {
    background: rgb(14, 135, 183);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: rgb(14, 135, 183);
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
} */

/* CONTACT INFO */
/* .contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE Contacto */
/* @media(min-width: 700px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
} */ 


/* Estilo Ventas */




/* .main-ventas {
    padding-top: 10px;
} */
/* .cards-ventas {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 120px;

} */

/* .cards-text {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    font-size: 20px;
} */
/* Estilo Ubicación */
.mapa {
    position: relative;
    overflow: hidden;
    width: 60%;
    padding-top: 56.25%;
    border-radius: 10px;
    margin-left: 250px;
}

  /* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.mapa  {
    border-radius: 10px;
}

.calle {
    text-align: center;
}
/* Estilo Quienes Somos */

.charla, .firma {
    width: 400px;
    border-radius: 10px;
}

.quienes-somos-main {
    width: 30cm;
    margin-left: 110px;
    margin-top: 10px;

}



/*Media-Home*/

@media (max-width: 1024px) {
    .autos-home {
        display: block;
    }
}

@media (max-width: 768px) {
    .autos-home {
        display: block;
    }
}

/*Media-Ventas*/
@media screen and (max-width: 1024px) {
    .cards-ventas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;

}

    .h1-ventas {
        text-align: center;
        padding-left: 65px;
    }
}

@media screen and (max-width: 768px) {

}
/*Media-Ubicación*/
@media screen and (max-width: 768px) {
    .mapa {
        margin-left: 75px;
    }

}

