/* Main Ubicación Style*/

.main-ubicación {
    h1 {
        text-align: center;
    }
    .section-ubi {
        .calle {
            text-align: center;
        }
        .mapa-container {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            iframe {
                width: 80%;
                height: 60vh;
                border: none;
            }
        }
    }
}