/* Main-contacto Style */

.main-contacto {
    .content {
        .logo-contacto {
            text-align: center;
            font-size: 3em;
            .span-contacto {
                color: rgb(14, 135, 183);
            }
        }
        .div-contact {
            .contact-wrapper{
                box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
                padding: 1em;
            }
            .contact-form {
                background: #222222;
                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    button{
                        &:hover, &:focus {
                            background: rgb(14, 135, 183);
                            color: white;
                            transition: background-color 1s ease-out;
                            outline: 0;
                        }
                    }
                    button, input, textarea {
                        width: 100%;
                        padding: .7em;
                        border: none;
                        background: none;
                        outline: 0;
                        color: white;
                        border-bottom: 1px solid rgb(14, 135, 183);
                    }
                    button {
                        background: rgb(14, 135, 183);
                        border: 0;
                        text-transform: uppercase;
                        padding: 1em;
                        border-radius: 5px;
                    }
                    .block {
                        grid-column: 1 / 3;
                    }
                    label {
                        display: block;
                    }
                    p {
                        margin: 0;
                        padding: 1em;
                        .text-area1 {
                            resize: none;
                        }
                    }
                }
            }
            .contact-info {
                background: #000;
                h4, ul , p {
                    text-align: center;
                    margin: 0 0 1rem 0;
                }
                .ul-contacto {
                    list-style: none;
                    padding: 0;
                }
            }
        }
    } 
}