/* Media Mobile Home*/

@media screen and (max-width: 768px) {
    .main-index {
        .servicios{
            .autos-home {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .main-ubicación {
        h1 {
            text-align: center;
        }
        .section-ubi {
            .calle {
                text-align: center;
            }
            .mapa-container {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                .responsive-iframe {
                    border-radius: 10px;
                }
            }
        }
    }
}