/*Media Querie Desktop Home*/
@media(min-width: 700px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/*Media Querie Desktop Ubicación*/

@media (max-width: 1024px) {
    .main-ubicación {
        .section-ubi {
            .mapa-container {
                padding-left: 400px;
                .responsive-iframe {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}