/* Media Querie Tablet Home*/
@media screen and (max-width: 1024px) {
    .main-index {
        .servicios{
            .autos-home {
                display: block;
            }
        }
    }
}

/*Media Querie Tablet Ventas*/
@media screen and (max-width: 1024px) {
    .main-ventas {
        .h1-ventas {
            text-align: center;
            padding-left: 65px;
        }
        .cards-ventas {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }
}

/*Media Querie Tablet Ubicación*/

@media screen and (max-width: 1024px) {
    .main-ubicación {
        h1 {
            text-align: center;
        }
        .section-ubi {
            .calle {
                text-align: center;
            }
            .mapa-container {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                .responsive-iframe {
                    border-radius: 10px;
                }
            }
        }
    }


}