/* Header Style */

header {
    .navbar {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 4px solid grey;
        .container-fluid {
            width: 100%;
            .a-logo{
                .logo {
                    width: 40px;
                    border-radius: 40px;
                }
            }
            .div-nav {
                a {
                    border-radius: 30px;
                    text-decoration: none;
                    color: black;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }
        }
    }
}